@import 'libs/bootstrap-reboot';
@import 'libs/font';
@import 'libs/animate';
@import 'libs/tiny-slider';

@import 'base/media';
@import 'base/mixins';
@import 'base/animations';
@import 'base/variables';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';



@media (max-width: 1200px) {
    .promo {
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 22px;
        }
    }
    .carousel {
        width: 100%;
        .prev {
            left: -35px;
        }
        .next {
            right: -35px;
        }
    }
    .consultation {
        .title_left {
            font-size: 34px;
        }
    }
    .pageup {
        right: 30px;
    } 
}
@media (max-width: 991px) {
    .title {
        font-size: 25px;
    }
    .header {
        justify-content: space-around;
        &__phone {
            font-size: 16px;
        }
    }
    .promo {   
        &__header {
            font-size: 36px;
        }
        &__subheader {
            font-size: 18px;
        }
        &__wrapper {
            margin-right: 35px;
        }
        &__icons {
            width: 400px;
        }
        &__icon {
            font-size: 13px;
        }
        &__link {
            font-size: 14px;
        }
    }
    .advantages {
        &__wrapper {
            justify-content: space-around;
        }
        &__item {
            max-width: 200px;
        }
        &__subtitle {
            font-size: 15px;
        }
    }
    .consultation {
        .title_left {
            font-size: 25px;
            margin-left: 35px;
        }
        &__descr {
            font-size: 16px;
            margin-left: 35px;
        }
        .feed-form {
            margin-left: 35px;
        }
    }
    .carousel {
        width: 100%;
        .prev {
            left: 0px;
            img {
                width: 30px;
                height: 40px;
            }
        }
        .next {
            right: 0px;
            img {
                width: 30px;
                height: 40px;
            }
        }
        img {
            width: 75%;
        }

    }
    .catalog {
        &__content {
            justify-content: space-evenly;
        }
    }    
    .reviews {
        &__round {
            width: 110px;
            height: 170px;
        }
        &__descr {
            width: 500px;
        }
        &__name  {
            font-size: 16px;
        }
        &__text {
            font-size: 14px;
        }
    }
    .footer {
        &__info {
            width: 400px;
        }
        &__addr {
            font-size: 18px;
        }
        &__phone {
            font-size: 18px;
        }
        &__social-item {
            width: 45px;
            height: 46px;
        }
    }
    .pageup {
        right: 30px;
    } 
}
@media (max-width: 767px) {
    .title {
        font-size: 20px;
    }
    .promo {
        &__header {
            font-size: 26px;
        }
        &__subheader {
            font-size: 16px;
        }
        &__icons {
            width: 320px;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            max-width: 260px;
            margin-bottom: 10px;
        }
    }
    .consultation {
        .title_left {
            font-size: 17px;
        }
        &__descr {
            font-size: 14px;
        }
        .feed-form {
            width: 270px;
        }
    }
    .carousel {
        .prev, .next {
            img {
                width: 25px;
                height: 28px;
            }
        }
    }
    .catalog {
        &__tabs {
            padding: 0 2rem 0 2rem;
        }
        &__tab {
            font-size: 12px;
        }
    }
    .reviews {
        &__block {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__round {
            margin-right: 0px;
        }
        &__descr {
            width: 350px;
        }
        &__name {
            font-size: 15px;
            text-align: center;
            margin-top: 20px;
        }
        &__count {
            font-size: 13px;
            text-align: center;

        }
        &__text {
            border: 1px solid #DCDCDC;
            padding: 10px 15px;
        }
    }
    .footer {
        &__info {
            width: 350px;
            height: 250px;
        }
        &__addr {
            font-size: 18px;
        }
        &__phone {
            font-size: 18px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
        }
    }
    .pageup {
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 575px) {
    .title {
        font-size: 18px;
    }
    .header {
        flex-direction: column;
        &__logo {
            width: 270px;
            margin: 15px 0;
        }
        &__phone {
            margin: 5px 0;
        }
        &__official {
            margin: 5px 0;
        }
    }
    .promo {
        &__wrapper {
            align-items: stretch;
            margin-top: 50px;
        }
        &__header {
            text-align: center;
            font-size: 25px;
        }
        &__subheader {
            text-align: center;
            margin-top: 0;
            font-size: 13px;
        }
        &__icons {
            margin-top: 30px;
            margin: 20px auto;
        }
        .button_main {
            width: 250px;
            margin: 0 auto;
            font-size: 14px;
            margin-top: 40px;
        }
        &__link {
            margin: 10px auto;
        }
    }
    .advantages {
        padding: 40px 0 65px 0;
    }
    .consultation {
        .title_left {
            line-height: 40px;
            font-size: 13px;
            margin-left: 20px;
        }
        &__descr {
            margin-left: 20px;
            font-size: 13px;
        }
        .feed-form {
            margin-left: 25px;
        }
    }
    .carousel {
        .prev, .next {
            img {
                width: 15px;
                height: 20px;
            }
        }
    }
    .catalog {
        &__tabs {
            flex-direction: column;
            align-items: center;
        }
        &__tab {
            margin: 1px 0;
        }
        .catalog-item {
            &__img {
                height: 150px;
            }
            &__subtitle {
                font-size: 14px;
            }
            &__price {
                font-size: 18px;
            }
        }
    }
    .reviews {
        &__round {
            width: 100px;
            height: 150px;
        }
        &__descr {
            width: 300px;
        }
        &__name {
            font-size: 14px;
        }
    }
    .footer {
        &__info {
            width: 240px;
        }
        &__addr {
            font-size: 16px;
        }
        &__phone {
            font-size: 16px;
        }
        &__social-item {
            margin: 0 10px;
        }
    }
    .modal {
        top: 50%;
        width: 300px;
        background-color: #F2F2F2;
        padding: 15px 20px 20px 20px;
        min-height: 375px;
        &__close {
            right: 0;
            top: 10px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .feed-form {
        width: 260px;
    }
    .button_submit {
        height: 50px;
        font-size: 14px;
    }
}